<h1><%= link_to('Back',root_path) %></h1>
<table border='1', align='center'>
    <tr>
        <th>Name</th>
        <th>Approved</th>
    </tr>
    <% @users=User.where(role:"user") %>
    <%= turbo_stream_from @users %>
    <% @users.each do |x| %>
            <tr>
                <td><%= x.name %></td>
                <td>
                    <% if x.approved == true %>
                        <%= button_to 'Approved',"/users/#{x.id}", method: :put,
                        :onclick => "return confirm('#{x.name} Un_Approved')" %>
                    <% else %>
                        <%= button_to 'Un_Approved',"/users/#{x.id}", method: :put,
                        :onclick => "return confirm('#{x.name} Approved')" %> 
                    <% end %>
                </td>
            </tr>
    <% end %>
</table>