<% if user_signed_in? && current_user.role == "user" %> 
    <div class="form"
    <div> Welcome <%= current_user.email %> </div> 
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
    <h1><%= link_to('Back',root_path) %></h1>
    <%= form_with(model: @message ,url: messages_index_path(params[:id]))  do |f| %>
    
          <div class="field">
            <%= f.label :Message %><br />
            <%= text_area_tag :content, '',  placeholder: "Send Message" %>
          </div>

          <%= turbo_stream_from "messages" %>
          <div class="field">
            <%= f.hidden_field :reciver_id, value: params[:id] %>
          </div>

          <div>
            <%= f.submit "Send" %>
          </div>

    <% end %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>